// Colors

$dark-red: #8E1616;
$light-rose: #FFF3F3;
$grey: #CECECE;
$white: #fff;
$black: #171717;
$green: #2ddf5c;
$blue: #76B4E1;

// Font sizes
$font-size-xsmall: 1.2rem;
$font-size-small: 1.4rem;
$font-size-medium: 1.8rem;
$font-size-large: 2.4rem;


// Spacing

$xs-size: 1rem;
$s-size: 1.4rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
